<section class="about-us-water-lantern">
  <div class="container">
    <div class="row align-items-center p-0 g-0">
      <div class="col-lg-6 col-12 pr-30 pb-24 pb-lg-0">
        <h2 class="font-56 text-white fw-medium mb-24">
          About Water Lantern Festival Event?
        </h2>
        <p class="font-18 text-color-bd">
          The Water Lantern Festival was born out of a desire to bring people
          together in a safe, peaceful, and reflective environment. Inspired by
          traditional lantern festivals around the world, we designed our events
          to blend cultural appreciation with modern community spirit.
        </p>
      </div>
      <div class="col-lg-6 col-12 pl-30">
        <img
          src="{{"about-us-water-lantern.png" | asset_url }}"
          alt="event_img-1"
          class="w-100"
          width=""
          height=""
        />
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Us Water lantern",
  "tag": "section",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "About Us Water lantern"
    }
  ]
}
{% endschema %}


