{% stylesheet %}
  .risk-safety-liability {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .risk-safety-liability {
    padding: 120px 0;
  }
}

{% endstylesheet %}
<section class="risk-safety-liability">
  <div class="container">
    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
      <div class="col-lg-6 col-12 pl-30">
        <h2 class="font-56 text-white fw-bold pb-24">
          Acknowledgment of Risks
        </h2>
        <p class="text-color-bd font-18">
          I understand that participating in the lantern festival involves
          physical walking and exposure to potentially hazardous conditions such
          as mud, sand, water, fire, uneven terrain, obstacles, low-light areas,
          and dusty environments. I certify that I am in good health and
          physically able to participate. I assume all risks, including the
          possibility of property loss, serious injury, or death, from terrain,
          weather, other participants, fire, insects, and other hazards.
        </p>
      </div>
      <div class="col-lg-6 col-12 pl-30 pb-32 pb-lg-0">
        <div>
          <img width= "" height=""
            src="{{ 'releasewaiver-img-1.png' | asset_url }}"
            alt="releasewaiver-img-1"
            class="w-100"
          />
        </div>
      </div>
    </div>
    <div class="risk-safety-liability">
      <div class="row g-0 align-items-center">
        <div class="col-lg-6 col-12 pr-30 pb-32 pb-lg-0">
          <div>
            <img width= "" height=""
              src="{{ 'releasewaiver-img-2.png' | asset_url }}"
              alt="releasewaiver-img-2"
              class="w-100"
            />
          </div>
        </div>
        <div class="col-lg-6 col-12 pl-30">
          <h2 class="font-56 text-white fw-bold pb-24">
            Health & Safety Requirements
          </h2>
          <p class="text-color-bd font-18">
            I agree to follow all laws and instructions from event officials,
            law enforcement, and emergency personnel. I will wear appropriate
            clothing and footwear, monitor my health during the event, and seek
            medical help if needed. I confirm I am not under the influence of
            alcohol or impairing drugs and have physician approval if taking
            medication.
          </p>
        </div>
      </div>
    </div>

    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
      <div class="col-lg-6 col-12 pr-30">
        <h2 class="font-56 text-white fw-bold pb-24">
          Assumption of Liability
        </h2>
        <p class="text-color-bd font-18 pb-24">
          I assume full responsibility for any injuries or medical expenses
          incurred during the event, including ambulance transport and hospital
          care. I acknowledge that the event organizers do not provide medical
          or disability insurance and I am responsible for my own coverage.
        </p>
        <p class="text-color-bd font-18">
          I grant permission to Water Lantern Festival and its partners to take
          photos, videos, or recordings of me and my property during the event.
          These may be used worldwide, in perpetuity, for marketing,
          promotional, or commercial purposes without compensation.I waive,
          release, and discharge Water Lantern Festival, its organizers,
          sponsors, venue owners, and affiliates from all claims, liabilities,
          or lawsuits related to my participation, including those caused by
          negligence. I agree to indemnify and hold harmless all such parties
          from any legal claims or expenses arising from my attendance.
        </p>
      </div>
      <div class="col-lg-6 col-12 pl-30 pb-32 pb-lg-0">
        <div>
          <img width= "" height=""
            src="{{ 'releasewaiver-img-3.png' | asset_url }}"
            alt="releasewaiver-img-3"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Risk Safety Liability",
  "settings": [],
  "presets": [
    {
      "name": "Risk Safety Liability"
    }
  ]
}
{% endschema %}