<section class="about-section">
  <div class="page-width">
    <h1>{{ page.title }}</h1>
    <div class="rte">{{ page.content }}</div>
  </div>
</section>

{% schema %}
{
  "name": "Upcoming Events Page",
  "settings": [],
  "presets": [
    {
      "name": "Upcoming Events Page"
    }
  ]
}
{% endschema %}
